@{
    ViewBag.Title = "AlterarEvento";
}

<div class="col-md-3"></div>
<div class="container col-md-5">
    <form class="form-horizontal" method="post">
        <fieldset>
            <legend>Cadastrar Evento</legend>
            <div>
                <label class="control-label">* Nome</label>
                <div>
                    <input class="textos" value="@Model.Nome" id="tnome" name="Nome" type="text" placeholder="Nome">
                </div>
            </div>
            <div>
                <label class="control-label">Descrição</label>
                <div>
                    <textarea class="textos" id="tdescricao" name="Descricao" placeholder="Digite a descrição">@Model.Descricao</textarea>
                </div>
            </div>

            <div>
                <label class="control-label">* Inicio</label>
                <div>
                    <input value="@Model.Inicio.ToShortDateString()" id="tinicio" name="Inicio" type="text" placeholder="00/00/0000" class="data">
                </div>
            </div>

            <div>
                <label class="control-label">* Fim</label>
                <div>
                    <input value="@Model.Fim.ToShortDateString()" id="tfim" name="Fim" type="text" placeholder="00/00/0000" class="data">
                </div>
            </div>
            <br />
            <div>
                <div class="btn-group">
                    <button class="btn btn-success" type="submit" id="enviar">Enviar</button>
                    <button class="btn btn-danger" type="reset" id="limpar">Limpar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

@section scripts{
    <script>
        $('.data').mask('00/00/0000');
    </script>
}



